PROJECT_VENV_ROOT=
CACHE_ROOT=${PROJECT_VENV_ROOT:-$HOME/venvs}/.cache/unpriced
PYTHONDONTWRITEBYTECODE=1
PYTHONPYCACHEPREFIX=${CACHE_ROOT}/pycache
UV_CACHE_DIR=${CACHE_ROOT}/uv
RUFF_CACHE_DIR=${CACHE_ROOT}/ruff
CENSUS_API_KEY=
DOL_API_KEY=
NOAA_CDO_TOKEN=
